<footer class="bd-footer text-muted">
  <div class="container p-3 p-md-5">
    <ul class="bd-footer-links">
      <li style="padding-right: 10px;"><a href="#">GitHub</a></li>
      <li style="padding-right: 10px;"><a href="#">Twitter</a></li>
      <li style="padding-right: 10px;"><a href="#">Examples</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <div>Designed and built with all the love in the world by the <a href="#">Bootstrap team</a> with the help of <a href="#">our contributors</a>.</div> 
    <div>Currently v4.3.1. Code licensed <a href="#">MIT</a>, docs <a href="#">CC BY 3.0</a>.</div>
  </div>
</footer>