<!-- your html code here -->
<div class="jumbotron jumbotron-fluid" jumbotron-3 style="text-align: center; background-image: url(https://cache.marriott.com/marriottassets/marriott/MIADT/miadt-downtown-0149-hor-wide.jpg?downsize=1440px:*); background-size: 100% 100%; background-repeat: no-repeat; background-position: center">
  <div class="container">
    <div class="bg-light text-dark" style="font-family: bold">
        <p class="display-2">One Page Wonder</p>
    </div>
    <div class="bg-light text-dark" style="font-family: bold">
        <p class="display-4">Will Knock Your Sock Off</p>
    </div>
   </div>
</div>
